name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the RCAAP DSpace Docker image
      run: docker build . --file Dockerfile --tag rcaap/dspace:$(date +%s)
    - name: Build the RCAAP DSpace CLI Docker image
      run: docker build . --file Dockerfile.cli --tag rcaap/dspace-cli:$(date +%s)
